*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
.boxCate-head{
    display: flex;
    justify-content: space-between;
    line-height: 16px;
    margin: 0 0 15px;
    padding: 0 0 5px;
}
.boxCate-subMenu {
    display: flex;
    justify-content: space-between;
    
}